# USEFUL PYTHON FUNCTIONS

## The zip() function

In [26]:
# The zip() function with list() returns a list of tuples

vars = ['x','y','z']
vals = [1,2,3]

print(list(zip(vars,vals)))

[('x', 1), ('y', 2), ('z', 3)]

In [27]:
# zip iteration stops when one sequence is exhausted

chars = 'abcd'              # a string is a sequence
nums = [10,20,30,40,50]
data = list(zip(chars,nums))   # NOTE that 50 is ignored 
print(data)

[('a', 10), ('b', 20), ('c', 30), ('d', 40)]

In [28]:
# The list of tuples generated with zip() can be sorted

mos = ['Jan','Feb','Mar']
sales = [1200,900,1000]
data = list(zip(sales,mos))
print(data)
data.sort()
print(data)

[(1200, 'Jan'), (900, 'Feb'), (1000, 'Mar')]
[(900, 'Feb'), (1000, 'Mar'), (1200, 'Jan')]

In [29]:
# dict() with zip() can build a dictionary 
vars = ['x','y','z']
vals = [1,2,3]

my_dict = dict(zip(vars,vals))
for k in my_dict:
    print(k,':',my_dict[k])

x : 1
y : 2
z : 3

In [30]:
# zip with the unpacking operator * can unzip tuples into separate sequences.

triads = list([(1,'a','Guido'),(2,'b','van'),(3,'c','Rossum')])
nums,chs,guru = zip(*triads)
print(nums)
print(chs)
print(guru)

(1, 2, 3)
('a', 'b', 'c')
('Guido', 'van', 'Rossum')

In [31]:
# zip with the unpacking operator * also works with a list of lists

purchases = [['burgers',3.99,3],['fries',2.49,2],['pies',1.99,2]]
food,prices,qtys = zip(*purchases)

print(food)
print(prices)
print(qtys)

('burgers', 'fries', 'pies')
(3.99, 2.49, 1.99)
(3, 2, 2)

## The filter() function

In [32]:
# filter(function,iterable)
# uses its function argument to test each element of an iterable.
# It returns an iterable of elements that "pass" the True test.

# Example: Finding 3-letter strings in a list with filter

def test(s):
    return len(s) == 3

# make a list of words
words = "The nice old man never ate those two lemon cupcakes".split()

threes = filter(test,words)
for w in threes:
    print(w, end = ' ')

The old man ate two

In [33]:
# A lambda function can be used as the filter function

threes = filter(lambda w : len(w) == 3, words)
print(list(threes))

['The', 'old', 'man', 'ate', 'two']

In [34]:
# make a list of test scores and names as tuples 
# use filter to get A students

names = ['Penny','Jenny','Benny','Kenny','Lenny','Denny']
scores = [92,83,78,90,95,80]

results = list(zip(scores,names))   # makes the list of tuples
print(results)

def grade_a(tup):
    if tup[0] >= 90:
        return True

a_names = filter(grade_a,results)
print('The A students are :', end = ' ')
for n in a_names:
    print(n[1], end = ' ')

[(92, 'Penny'), (83, 'Jenny'), (78, 'Benny'), (90, 'Kenny'), (95, 'Lenny'), (80, 'Denny')]
The A students are : Penny Kenny Lenny

## The map() function

In [35]:
# map() calls a specified function for each element in an iterable.
# Example: make a list of squares of each number in a tuple

def myfunc(n):
  return n ** 2

result = list(map(myfunc, (5,8,2.5,6,4,3.5))) 
print(result)

[25, 64, 6.25, 36, 16, 12.25]

In [36]:
# You can use a lambda function with map()

nums = [11,5,12,9,3,10]
doubled = map(lambda x:x * 2, nums)
print(list(doubled))

[22, 10, 24, 18, 6, 20]

In [37]:
# Use built-in str() function and range()
# to get a list of integers as strings

list_str = list(map(str,range(10,21)))
list_str

['10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20']

In [38]:
# You can pass multiple sequences to map()

result = map(lambda a,b: a + b, (5,10,15),(20,30,40))
print(list(result))

[25, 40, 55]

## split() and join()

In [39]:
# The split() function splits a string and returns a list of strings.
# General format: my_list = string.split(separator, max_elements)
# If separator is omitted, it is a space by default.
# max_elements specifies max. elements for list, no limit if omitted.

declared = 'When in the Course of human events'
words = declared.split()
print(words)

print('it##becomes##necessary##for##one##people'.split('##'))

# join() uses a specified separator string to
# makes a larger string from an iterable sequence.
# General format: 'sep_string'.join(iterable)

# joining list elements into a string
my_str = ' '.join(words)  # using space separator and words list from above
print(my_str)

print('***'.join(['Edgar','Allan','Poe']))

# When using a dictionary as the iterable, the KEYS are joined.
my_dict = {'dim1':10, 'dim2':8, 'dim3':5}
' x '.join(my_dict)

['When', 'in', 'the', 'Course', 'of', 'human', 'events']
['it', 'becomes', 'necessary', 'for', 'one', 'people']
When in the Course of human events
Edgar***Allan***Poe

'dim1 x dim2 x dim3'

## The enumerate() function

In [40]:
# enumerate(iterable,start) adds a counter to an iterable and returns an enumerat
# By default start = 0.

data = ['breakfast','lunch','dinner','snack']
result = list(enumerate(data))                 # default start = 0
print(len(result))
for n in range(len(result)):
    print(result[n][1], end = ' ')

4
breakfast lunch dinner snack

In [41]:
# example with start value of -3

result = enumerate('Hello',start = -3)
print(list(result))

[(-3, 'H'), (-2, 'e'), (-1, 'l'), (0, 'l'), (1, 'o')]

## chr() and ord() functions

In [42]:
# to get Unicode character for an integer use chr() function

for n in range(65,70):
    print(chr(n),end = ' ')
    
print('\nSome Cherokee Characters:',end = ' ')
    
for n in range(5060,5065):
    print(chr(n),end = ' ')    
    
print()

# to get integer value for a Unicode character, use ord() function

text = 'abcde'
for ch in text:
    print(ch,':',ord(ch))

A B C D E
Some Cherokee Characters: Ꮔ Ꮕ Ꮖ Ꮗ Ꮘ
a : 97
b : 98
c : 99
d : 100
e : 101

## Other Python Tricks

In [43]:
# swapping values of variables, no need for a 3rd temp variable
a, b = 10, 15                    # why use two statements?
a, b = b, a                      # this does the swap
print('a =',a,'and b =',b)

# you can even swap / re-assign more than two variables
x, y, z = 1, 2, 3
x, y, z = y, z, x
print(x,y,z)

a = 15 and b = 10
2 3 1

In [44]:
# reverse a sequence such as list or string

nums = [1,2,3,4,5]
nums_rev = nums[::-1]
print(nums_rev)

guru = 'Guido van Rossum'
print(guru[::-1])

# detect a palindrome
text = 'racecar'
print(text,'a palindrome?',text == text[::-1])

[5, 4, 3, 2, 1]
mussoR nav odiuG
racecar a palindrome? True